<app-header></app-header>

<main>
  <ul id="users">
    @for(user of App_users;track user.id){

      <li>
        <app-user [User_userSelected]="user" [User_selected]="user.id===App_SelectedUserId"  (User_select)="App_SelectedUser($event)"></app-user>
      </li>
    }
  </ul>

  @if(App_Selecteduser){
    <app-add-tasks [AddTasks_userId]="App_Selecteduser.id" [AddTasks_username]="App_Selecteduser.name"></app-add-tasks>
  }
  @else {
    <p id="fallback">Select the user to see their ticket.</p>
  }
</main>


